@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Vermin Vibes";
  src: url(/Fonts/Vermin/vermin_vibes.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url("https://uploads-ssl.webflow.com/62e3ee10882dc50bcae8d07a/631a5d4631d4c55a475f3e34_noise-50.png");
  background-color: #16171b;
  overflow-x: hidden;
  -webkit-overflow-x: hidden;
}

.projects {
  overflow: hidden;
  -webkit-overflow: hidden;
}

.drop-shadow-div {
  -webkit-appearance: none;
  appearance: none;
  -webkit-filter: drop-shadow(0 0 1.5rem #29c27f);
  filter: drop-shadow(0 0 1.5rem #29c27f);
}

#repulse-div {
  -webkit-appearance: none;
  appearance: none;
  -webkit-filter: drop-shadow(0 0 5rem #29c27f);
  filter: drop-shadow(0 0 5rem #29c27f);
}

#repulse-div > h1 {
  -webkit-filter: drop-shadow(0 0 5rem #29c27f);
  filter: drop-shadow(0 0 5rem #29c27f);
}

#journey-scroll::-webkit-scrollbar {
  display: none;
}

#journey-scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.arrowpath,
polyline {
  fill: none;
  stroke: #515152;
  vector-effect: non-scaling-stroke;
  stroke-width: 2;
}

.arrowpath {
  stroke-dasharray: 11, 5;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
